.login {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 10px;
  padding-right: 10px;
  height: 25vh;
  align-items: center;
  background-color: aquamarine;
}